//table styles

table.table {
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    
    & th {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
        background-color: #F6B4A5;
        
    }

    & td {
        padding: 0.25rem;
        text-align: left;
        border: 1px solid #ccc;
    }

    & tr:last-child {
        display: none;
    }
    
}

