* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'open sans', sans-serif;
  font-weight: 800;
  font-size: 1.4rem;
  min-height: 100vh;
}

.container, .buttons {
  margin: 0 auto;
  width: 80vw;
  overflow: auto;
}

table.table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
}

table.table th {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
  background-color: #F6B4A5;
}

table.table td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

table.table tr:last-child {
  display: none;
}
